//.dark-primary-color    { background: #512DA8; }
//.default-primary-color { background: #673AB7; }
//.light-primary-color   { background: #D1C4E9; }
//.text-primary-color    { color: #FFFFFF; }
//.accent-color          { background: #536DFE; }
//.primary-text-color    { color: #212121; }
//.secondary-text-color  { color: #757575; }
//.divider-color         { border-color: #BDBDBD; }


.filters {
  max-width: 1200px;
  margin: 20px auto;
  top:50px;
  z-index: 9999;
  position: absolute;

}
::ng-deep {
  .mat-form-field-infix{
    background-color: #512DA8!important;
  }
  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label{
    color:white!important;
    opacity: 1;
  }
  .mat-option {
    background-color: aqua!important;
    color:black!important;
  }
  .mat-form-field-infix {
    border-color: white!important;
    border-top:none;

  }
  .mat-form-field-appearance-legacy .mat-form-field-label{
    padding-left: 5px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: aqua!important;
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1200px; */
    justify-content: center;
    /* margin: 20px auto; */
    background: rgb(52,52,50);
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;

  }
  .game {
    width:280px;
    margin:10px;
    height:330px;
    background-color: #FFFFFF;
    transition-duration: 0.3s;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      box-shadow: 4px 3px 11px 6px aqua;
      transform: translate(-2px);

    }
    &-thumb-container {
      background-color: #512da8;
      position:relative;
      height:180px;
      color:white;
      text-align: center;
    }
    &-thumbnail {
      positon:absolute;
      top:0;
      left:0;
      right:0;
      margin: 0 auto;
      height: 172px;
      width: 280px;
    }
    &-description {
      padding:20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    &-name {
      color:black;
      font-weight: 700;
      margin-bottom:20px;
      white-space:normal;
      text-overflow: ellipsis;
    }
    &-plaforms {
      display: flex;
      color:black;
      filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);

    }
    &-platform {
      width: 20px;
      filter: invert(.75);
    }
  }
}
