.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left:20px

}
::ng-deep {
  .mat-form-field-infix{
    background-color: cornflowerblue!important;
  }
  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearance-legacy .mat-form-field-label{
    color:white!important;
    opacity: 1;
  }
  .mat-option {
    background-color: aqua!important;
    color:black!important;
  }
  .mat-form-field-infix {
    border-color: white!important;
    border-top:none;

  }
  .mat-form-field-appearance-legacy .mat-form-field-label{
    padding-left: 5px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: aqua!important;
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    margin: 20px auto;

  }
  .game {
    width:280px;
    margin:10px;
    height:330px;
    background-color: bisque;
    transition-duration: 0.3s;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      box-shadow: 4px 3px 11px 6px aqua;
      transform: translate(-2px);

    }
    &-thumb-container {
      background-color: brown;
      position:relative;
      height:180px;
      color:white;
      text-align: center;
    }
    &-thumbnail {
      positon:absolute;
      top:0;
      left:0;
      right:0;
      margin: 0 auto;
      height: 172px;
    }
    &-description {
      padding:20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      heigth:157px;
    }
    &-name {
      color:white;
      font-weight: 700;
      margin-bottom:20px;
      white-space:normal;
      text-overflow: ellipsis;
    }
    &-plaforms {
      display: flex;
    }
    &-platform {
      width: 20px;
    }
  }
}
